body{
    margin: 0; 
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: rgb(246, 246, 246)
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2.8rem;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
        background-color: hsl(0, 0%, 45%);

}
button:active{
    background-color: hsl(0, 0%, 50%);
}
#calculator{
    background-color: rgb(43, 40, 40);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding:20px;
    font-size: 4rem;
    text-align: left;
     border: none;
     background-color: rgb(70, 69, 69);
     color:white;
}
.equal{
    background-color: hsl(9, 100%, 65%);
}
.equal:hover{
    background-color: hsl(9, 100%, 70%);
}
.equal:active{
    background-color: hsl(9, 100%, 80%);
}